# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [78]:
# Import the necessary libraries and CSVs. Make some dataframes!

import numpy as np
import pandas as pd

baltimore_df = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_df = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork_df = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philly_df = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

# print(baltimore_df.head())
# print(boston_df.head())
# print(newyork_df.head())
# print(philly_df.head())

print('~~~~~~~Baltimore~~~~~~~')
print(baltimore_df.info())
print('~~~~~~~Boston~~~~~~~')
print(boston_df.info())
print('~~~~~~~New York~~~~~~~')
print(newyork_df.info())
print('~~~~~~~Philly~~~~~~~')
print(philly_df.info())

~~~~~~~Baltimore~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   153 non-null    object
 1   City Name        153 non-null    object
 2   Type             0 non-null      float64
 3   Package          153 non-null    object
 4   Variety          151 non-null    object
 5   Sub Variety      25 non-null     object
 6   Grade            0 non-null      float64
 7   Date             153 non-null    object
 8   Low Price        153 non-null    int64
 9   High Price       153 non-null    float64
 10  Mostly Low       153 non-null    int64
 11  Mostly High      153 non-null    float64
 12  Origin           148 non-null    object
 13  Origin District  0 non-null      float64
 14  Item Size        128 non-null    object
 15  Color            31 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     24 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           153 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(12), int64(2), object(11)
memory usage: 30.0+ KB
None
~~~~~~~Boston~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   352 non-null    object
 1   City Name        352 non-null    object
 2   Type             0 non-null      float64
 3   Package          352 non-null    object
 4   Variety          352 non-null    object
 5   Sub Variety      28 non-null     object
 6   Grade            0 non-null      float64
 7   Date             352 non-null    object
 8   Low Price        352 non-null    int64
 9   High Price       352 non-null    int64
 10  Mostly Low       352 non-null    int64
 11  Mostly High      352 non-null    int64
 12  Origin           352 non-null    object
 13  Origin District  66 non-null     object
 14  Item Size        348 non-null    object
 15  Color            304 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     46 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           352 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 68.9+ KB
None
~~~~~~~New York~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   112 non-null    object
 1   City Name        112 non-null    object
 2   Type             0 non-null      float64
 3   Package          112 non-null    object
 4   Variety          112 non-null    object
 5   Sub Variety      18 non-null     object
 6   Grade            0 non-null      float64
 7   Date             112 non-null    object
 8   Low Price        112 non-null    int64
 9   High Price       112 non-null    int64
 10  Mostly Low       112 non-null    int64
 11  Mostly High      112 non-null    int64
 12  Origin           112 non-null    object
 13  Origin District  15 non-null     object
 14  Item Size        104 non-null    object
 15  Color            21 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     25 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           112 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 22.0+ KB
None
~~~~~~~Philly~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   57 non-null     object
 1   City Name        57 non-null     object
 2   Type             0 non-null      float64
 3   Package          57 non-null     object
 4   Variety          57 non-null     object
 5   Sub Variety      12 non-null     object
 6   Grade            0 non-null      float64
 7   Date             57 non-null     object
 8   Low Price        57 non-null     int64
 9   High Price       57 non-null     int64
 10  Mostly Low       57 non-null     int64
 11  Mostly High      57 non-null     int64
 12  Origin           57 non-null     object
 13  Origin District  0 non-null      float64
 14  Item Size        45 non-null     object
 15  Color            0 non-null      float64
 16  Environment      0 non-null      float64
 17  Unit of Sale     11 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           57 non-null     object
 24  Trans Mode       0 non-null      float64
dtypes: float64(11), int64(4), object(10)
memory usage: 11.3+ KB
None

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [85]:
# Clean your data here!

#set DATE to date type
baltimore_df['Date'] = pd.to_datetime(baltimore_df['Date'])
boston_df ['Date']= pd.to_datetime(boston_df['Date'])
newyork_df ['Date']= pd.to_datetime(newyork_df['Date'])
philly_df ['Date']= pd.to_datetime(philly_df['Date'])

#There are some empty columns we can drop once we combine so we can check for null in all dataframes together

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.


northeast_df = pd.concat([baltimore_df, philly_df], ignore_index=True)

In [80]:
# Combine the four dataframes into one!
northeast_df = pd.concat([baltimore_df,boston_df,newyork_df, philly_df], ignore_index=True)
# Sort the combined dataframe by date
northeast_df = northeast_df.sort_values('Date')

# Reset the index
northeast_df = northeast_df.reset_index(drop=True)

print('Before cleanup')
print(northeast_df.info())

# Now clean it and drop all empty columns 
# Drop columns with all null values
northeast_df = northeast_df.dropna(axis=1, how='all')

print('After cleanup')
print(northeast_df.info())

Before cleanup
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   674 non-null    object
 1   City Name        674 non-null    object
 2   Type             0 non-null      float64
 3   Package          674 non-null    object
 4   Variety          672 non-null    object
 5   Sub Variety      83 non-null     object
 6   Grade            0 non-null      float64
 7   Date             674 non-null    datetime64[ns]
 8   Low Price        674 non-null    int64
 9   High Price       674 non-null    float64
 10  Mostly Low       674 non-null    int64
 11  Mostly High      674 non-null    float64
 12  Origin           669 non-null    object
 13  Origin District  81 non-null     object
 14  Item Size        625 non-null    object
 15  Color            356 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     106 non-null    object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           674 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(11)
memory usage: 131.8+ KB
None
After cleanup
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   674 non-null    object
 1   City Name        674 non-null    object
 2   Package          674 non-null    object
 3   Variety          672 non-null    object
 4   Sub Variety      83 non-null     object
 5   Date             674 non-null    datetime64[ns]
 6   Low Price        674 non-null    int64
 7   High Price       674 non-null    float64
 8   Mostly Low       674 non-null    int64
 9   Mostly High      674 non-null    float64
 10  Origin           669 non-null    object
 11  Origin District  81 non-null     object
 12  Item Size        625 non-null    object
 13  Color            356 non-null    object
 14  Unit of Sale     106 non-null    object
 15  Repack           674 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(11)
memory usage: 84.4+ KB
None

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [81]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
# Assuming northeast_df is already created and contains both datasets

q1_result = northeast_df.groupby('Unit of Sale').agg({
    'Low Price': 'mean',
    'High Price': 'mean'
}).reset_index()

print("Mean low and high prices for each type of unit of sale")
print(q1_result)
print("\n")

Mean low and high prices for each type of unit of sale
  Unit of Sale   Low Price  High Price
0         EACH   47.916667   59.166667
1      PER BIN  185.845070  206.619718
2   SHELLACKED   16.000000   17.545455

In [82]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
q2_result = northeast_df.groupby(['City Name', 'Variety']).size().reset_index(name='Count')

# Now, calculate the average count per variety for each city
q2_average = q2_result.groupby('City Name').agg({
    'Count': 'mean'
}).reset_index()

print("Average number of pumpkins per variety for each city")
print(q2_average)

Average number of pumpkins per variety for each city
      City Name      Count
0     BALTIMORE  18.875000
1        BOSTON  44.000000
2      NEW YORK  18.666667
3  PHILADELPHIA  14.250000

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [83]:
# Try the bonus mission if you have time!